<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    mode="indeterminate"
    diameter="50"
    >
  </mat-progress-spinner>
</div>
<div class="eca-actions">
  <button mat-mini-fab color="primary" [routerLink]="['/help']" [attr.aria-label]="'Help.Titre'|translate" [matTooltip]="'Help.Titre'|translate">
    <mat-icon >help</mat-icon>
  </button>
  <a mat-mini-fab color="primary" [attr.aria-label]="'Main.Bug'|translate" [matTooltip]="'Main.Bug'|translate" href="https://github.com/louxfaure/sudoc-cloudapp/issues" target='_blank'>
      <mat-icon>bug_report</mat-icon>
  </a>
</div>
<h1 translate>Main.Intro</h1>
<eca-menu>
  <eca-menu-item [title]="'Nblocsudoc.TitreBref'|translate" [routerLink]="['nblocsudoc']" icon="uxf-icon uxf-book" color="primary">{{'Nblocsudoc.Titre'|translate}}</eca-menu-item>
  <eca-menu-item [title]="'SynchroSudoc.TitreBref'|translate" [routerLink]="['synchrosudoc']" icon="uxf-icon uxf-list" color="primary">{{'SynchroSudoc.Titre'|translate}}</eca-menu-item>
  <eca-menu-item [title]="'PpnList.TitreBref'|translate" [routerLink]="['ppn-list']" icon="uxf-icon uxf-clipboard" color="primary">{{'PpnList.Titre'|translate}}</eca-menu-item>
</eca-menu>
